.card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Inter, sans-serif;
    gap: 8px;
    // flex: 1 1 0px;
    transition: all 1s ease;
    &:hover {
        box-shadow: 0 0 11px rgba(33,33,33,.2);
        cursor: pointer;
    }

    h3 {
        margin: 0;
        padding: 0;
        padding-top: 4px;
        font-weight: 500;
    }

    p {
        padding: 0;
        margin: 0;
        padding-bottom: 24px;
    }
}

.card-img {
    //max-width: 200px;
    max-width: 100%;
    aspect-ratio: 1/1;
    object-fit: scale-down;
}
