.nav-item-container {
    display: flex;
    padding: 16px;
    border-radius: 6px;
    // color: rgba(256, 256, 256, 0.90);
    // min-width: 200px;

    &:hover {
        background-color: #f6f6f6;
        transition: background-color .4s ease;
        cursor: pointer;
    }

    &.selected {
        // background-color: #f6f6f6;
        font-weight: 600;
    }

    
}
a {
    all: unset;
}
